# MkDocs
site/
.cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Secrets
*.pem
credentials.json
service-account*.json
